<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:800,400italic|Inconsolata:400|Merriweather:400,400italic' rel='stylesheet' type='text/css'>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta content="width=device-width" name="viewport">
  <title>$if(title_plain)$$title_plain$$else$$title$$endif$</title>

  $if(author)$
  <meta name="author" content="$author$" />
  $endif$

  <link rel="stylesheet" type="text/css" href="/css/erudite.css" />
  <link rel="icon" href="/favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="$sitename$ Updates -- RSS" href="/feed.xml" />
  $if(style)$
  $style$
  $endif$
</head>

<body>

  <div id="wrapper" class="hfeed">
    <div id="header-wrap">
      <div id="header" role="banner">
        <h1 id="blog-title"><span><a href="/" title="" rel="home">$sitename$</a></span></h1>
        <div id="blog-description"></div>
      </div><!--  #header -->
      <div id="access" role="navigation">
        <div class="skip-link"><a href="#content" title=""></a></div>
      </div><!-- #access -->
    </div><!--  #header-wrap -->

    <div id="container">
      <div id="content" role="main">
        $body$
      </div><!-- #content -->
    </div><!-- #container -->

    <div id="footer">
    </div><!-- #footer -->
  </div><!-- #wrapper .hfeed -->
</body>
</html>
